body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.no-style-form {
    margin:0;
}

td.right-column {
	text-align: right;
}

td.receipt-value-col {
    white-space: nowrap;
}

img.receipt-method-icon {
    width: 20px;
}

input#finance-input {
	width: 100%;
	height: 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	padding-right: 20px;
}

input#finance-description {
	margin-top: 10px;
}

.input-append {
	position: relative;
}

span#euro-label {
	display: inline-block;
	width: 20px;
	position: absolute;
	right: 0;
	z-index: 4;
}

table#dialer {
	width: 100%;
}

td#dial1, td#dial3, td#dial4, td#dial6, td#dial7, td#dial9, td#dialdot, td#dialdel {
	width: 33%;
}

td#dial2, td#dial5, td#dial8 {
	width: 34%;
}

table#dialer td a {
	width: 100%;
	height: 40px;
	line-height: 33px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}