body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.no-style-form {
    margin:0;
}

td.right-column {
	text-align: right;
}

td.receipt-value-col {
    white-space: nowrap;
}

img.receipt-method-icon {
    width: 20px;
}