body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.no-style-form {
    margin:0;
}

td.right-column {
	text-align: right;
}

td.bill-value-col {
    white-space: nowrap;
}

img.bill-method-icon {
    width: 20px;
}

div#minus-plus {
	display: inline;
	position: absolute;
	left: 0;
	z-index: 4;
}

input#bill-input {
	width: 100%;
	height: 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	padding-right: 35px;
	padding-left: 85px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

button#bill-minus, button#bill-plus {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	display: inline-block;
	width: 40px;
	height: 30px;
	position: absolute;
	z-index: 4;
}

button#bill-minus {
	left: 0;
}
button#bill-plus {
	left: 40px;
}

span#euro-label {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 1px;
	z-index: 4;
}

#bill-method {
	width: 100%;
}
#bill-visa {
	width: 50%;
}
#bill-cash {
	width: 50%;
}

input#bill-description {
	margin-top: 10px;
	width: 100%;
	height: 28px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

.input-append {
	position: relative;
}


table#dialer {
	width: 100%;
}

td#dial1, td#dial3, td#dial4, td#dial6, td#dial7, td#dial9, td#dialdot, td#dialdel {
	width: 33%;
}

td#dial2, td#dial5, td#dial8 {
	width: 34%;
}

table#dialer td span, table#dialer td a {
	width: 100%;
	height: 55px;
	line-height: 48px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

button#save-bill {
	width: 100%;
}

td.bill-value-col > strong.negative {
	color: #e27000;
}

td.bill-value-col > strong.positive {
	color: #22a200;
}

span.big {
	font-size: 150%;
}